<!-- This is a partial. -->
<!-- You can reuse this partial for any of your layouts. -->
<wrapper class="footer">
    <container class="footer-container">
      <row>
        <columns></columns>
        <columns small="8" large="8">
          <center>
            <!-- <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a> -->
            <!-- What's cool about partials is that when you make a change, every single page that contains that partial, will get the changes. -->
            <a href="#">about</a>
            <a href="#">contact</a>
            <a href="#">shop</a>
            <a href="#">faq</a>
          </center>
        </columns>
        <columns></columns>
      </row>
    </container>
  </wrapper>